@mixin place-box {
    .place {
        padding-top: 230px;

        &--spain {
            padding: 50px 30px;
            margin-bottom: 100px;
            background-color: #2c2829;
            opacity: 0.9;
        }

        &__name {
            display: block;
            font-family: $font-josefin;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1.875px;
            color: $color-base;
        }

        &__title {
            font-family: $font-josefin;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-base;  
        }

        &__description {
            margin-bottom: 50px;
            line-height: 26px;
            color: $color-base;
        }
        
        &__btn {
            padding: 20px 37px;
        }
    }
}

@mixin logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
}