// Color
$color-white: #fff;
$color-base: #e8e8e8;

// Fonts
$font-aleo-bold: 'Aleo-bold', sans-serif;
$font-aleo-italic: 'Aleo-italic', sans-serif;
$font-aleo-light: 'Aleo-light', sans-serif;
$font-aleo-lightitalic: 'Aleo-lightitalic', sans-serif;
$font-aleo-regular: 'Aleo-regular', sans-serif;