* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .1s;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-josefin;
    font-size: 16px;
    font-weight: 300;
    min-width: 1024px;
    color: $color-base;
}

img {
    max-width: 100%;
}

.content {
    padding: 15px;
}

.grid {
    width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.col-md-1 {
    width: 100%;
}

.col-md-2 {
    width: 50%;
}

.col-md-2 + .col-md-2 {
    margin-left: 30px;
}

.col-md-3 {
    width: 25%;
}

.col-md-3 + .col-md-3 {
    margin-left: 70px;
}

.col-md-6 {
    width: 16.6%;
}