* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-aleo-regular;
    font-size: 16px;
    min-width: 1024px;
    max-width: 1200px;
    color: $color-base;
}

img {
    max-width: 100%;
}

.grid {
    width: 1140px;
    margin: 0 auto;
}