* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-josefin;
    font-size: 16px;
    min-width: 1024px;
    color: $color-base;
}

img {
    max-width: 100%;
}

.content {
    padding: 15px;
}

.grid {
    width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}