@font-face{
    font-family: 'aleo-bold';
    src: url('../../fonts/aleo-bold-webfont.eot');
    src: url('../../fonts/aleo-bold-webfont.eot?iefix') format('eot'),
    url('../../fonts/aleo-bold-webfont.woff') format('woff'),
    url('../../fonts/aleo-bold-webfont.ttf') format('truetype'),
    url('../../fonts/aleo-bold-webfont.svg#webfont') format('svg');
    }

@font-face{
    font-family: 'aleo-italic';
    src: url('../../fonts/aleo-italic-webfont.eot');
    src: url('../../fonts/aleo-italic-webfont.eot?iefix') format('eot'),
    url('../../fonts/aleo-italic-webfont.woff') format('woff'),
    url('../../fonts/aleo-italic-webfont.ttf') format('truetype'),
    url('../../fonts/aleo-italic-webfont.svg#webfont') format('svg');
    }

@font-face{
    font-family: 'aleo-light';
    src: url('../../fonts/aleo-light-webfont.eot');
    src: url('../../fonts/aleo-light-webfont.eot?iefix') format('eot'),
    url('../../fonts/aleo-light-webfont.woff') format('woff'),
    url('../../fonts/aleo-light-webfont.ttf') format('truetype'),
    url('../../fonts/aleo-light-webfont.svg#webfont') format('svg');
    }

@font-face{
    font-family: 'aleo-lightitalic';
    src: url('../../fonts/aleo-lightitalic-webfont.eot');
    src: url('../../fonts/aleo-lightitalic-webfont.eot?iefix') format('eot'),
    url('../../fonts/aleo-lightitalic-webfont.woff') format('woff'),
    url('../../fonts/aleo-lightitalic-webfont.ttf') format('truetype'),
    url('../../fonts/aleo-lightitalic-webfont.svg#webfont') format('svg');
    }

@font-face{
    font-family: 'aleo-regular';
    src: url('../../fonts/aleo-regular-webfont.eot');
    src: url('../../fonts/aleo-regular-webfont.eot?iefix') format('eot'),
    url('../../fonts/aleo-regular-webfont.woff') format('woff'),
    url('../../fonts/aleo-regular-webfont.ttf') format('truetype'),
    url('../../fonts/aleo-regular-webfont.svg#webfont') format('svg');
    }

h1 {
    font-family: $font-josefin;
    font-size: 48px;
    font-weight: 550;
    letter-spacing: 4.8px;
}

h2 {
    font-family: $font-aleo-regular;
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-family: $font-josefin;
    font-size: 20px;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: $font-josefin;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999;
}
::-moz-placeholder          {
    text-align: center;
    font-family: $font-josefin;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999;
}
:-moz-placeholder           {
    text-align: center;
    font-family: $font-josefin;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999;
}
:-ms-input-placeholder      {
    text-align: center;
    font-family: $font-josefin;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999;
}

#quote {
    position: relative;
    bottom: 12px;
    font-size: 18px;
    color: #5474fd;
}