.btn {
max-width: 225px;
background-image: url(../../img/button-bg.png);
font-family: $font-aleo-regular;
font-size: 16px;
letter-spacing: 1.2px;
text-decoration: none;
text-transform: uppercase;
color: $color-white;
border: none;
cursor: pointer;
}